*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}


body{
background:#f5f7fb;
color:#111;
}



header{

background:#061936;

padding:20px 8%;

position:sticky;

top:0;

}



nav{

display:flex;

justify-content:space-between;

align-items:center;

}



.logo{

font-size:25px;

font-weight:bold;

color:white;

}


.logo span{

color:#d9aa3d;

}



.menu a{

color:white;

margin-left:25px;

text-decoration:none;

}





.hero{

min-height:90vh;

padding:80px 8%;

display:flex;

align-items:center;

justify-content:space-between;

background:

linear-gradient(
120deg,
#061936,
#103b75
);

color:white;

}




.hero h1{

font-size:55px;

line-height:1.1;

}



.hero p{

margin:25px 0;

font-size:18px;

max-width:500px;

}



.btn{

display:inline-block;

background:#d9aa3d;

color:#111;

padding:15px 35px;

border-radius:30px;

text-decoration:none;

font-weight:bold;

}



.laser-card{

width:350px;

height:350px;

border:2px solid #d9aa3d;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

}



.circle{

font-size:45px;

font-weight:bold;

color:#d9aa3d;

}





section{

padding:70px 8%;

text-align:center;

}



h2{

font-size:35px;

margin-bottom:40px;

color:#061936;

}



.container{

display:flex;

gap:30px;

justify-content:center;

}



.box{

background:white;

padding:35px;

width:300px;

border-radius:15px;

box-shadow:0 10px 30px #ddd;

}



.about{

background:#061936;

color:white;

}



.features{

display:flex;

justify-content:center;

gap:40px;

}



.features h3{

color:#d9aa3d;

}



.gallery{

display:flex;

gap:20px;

justify-content:center;

}



.gallery div{

height:200px;

width:300px;

background:#ddd;

display:flex;

align-items:center;

justify-content:center;

font-weight:bold;

}



.contact{

background:#f0f0f0;

}



footer{

background:#061936;

color:white;

text-align:center;

padding:20px;

}